.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 420px; */
    padding: 36px;
    border-radius: 24px;
    overflow: hidden;
    line-height: 1.6;
    border: 1px solid #999999;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    margin-top: 200px;
    margin-left: 10px;
   
    font-weight: 400;
    font-style: normal;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    color: #000000;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
 
  
  .content .para {
    z-index: 1;
    opacity: 0.8;
    font-size: 18px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card::before {
    content: "";
    position: absolute;
    right: -5.2rem;
    top: -5.2rem;
    width: 10.4rem;
    height: 10.4rem;
    /* background: #e3f2fd ; */
    z-index: 0;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card::after {
    content: "";
    position: absolute;
    left: -5.2rem;
    bottom: -5.2rem;
    width: 10.4rem;
    height: 10.4rem;
    background:rgba(0, 0, 255, 0);
    color: white;
    z-index: 0;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card:hover::before {
    scale: 7;
    opacity: 1;
  }
  
  .card:hover::after {
    scale: 7;
    opacity: 1;
  }
  
  .card:hover .content .heading {
    color: #fff8f8;
  }
  
  .card:hover .content .para {
    color: #fff4f4;
  }
  
  .card:hover {
    box-shadow: 0rem 6px 13px rgba(0, 0, 0, 0.1),
      0rem 24px 24px rgba(0, 0, 0, 0.09), 0rem 55px 33px rgba(0, 0, 0, 0.05),
      0rem 97px 39px rgba(0, 0, 0, 0.01), 0rem 152px 43px rgba(0, 0, 0, 0);
   
    scale: 1.05;
  }
  
  /* font 3 */

  .kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
  }
  
  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
  }
  
  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }
  /* skill */
  .skill {
    width: 410px;
    height: 254px;
    border-radius: 4px;
    background:transparent;
    display: flex;
    gap: 10px;
    padding: .7em;
  }
  
  .skill p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background:transparent;
    border: 5px solid #8376e7;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .skill p:hover {
    flex: 4;
  }
  
  .skill p span {
    min-width: 20em;
    padding: .10em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #fbedf2;
    letter-spacing: .1em;
  }
  
  .skill p:hover span {
    transform: rotate(0);
  }
  