.body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #fff;

}

.intro {
    margin-top: 300px;
    margin-left: 50px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.image {
    float: right;
    margin-top: -300px;
    margin-right: 50px;


}


.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100vw;
    /* margin: 0 auto; */
    padding: 20px;
    text-align: center;
    background-color: #183bc47e;
    margin-top: 300px;
    border-radius: 40px;
}

footer {
    margin-top: 20px;
    width: 100%;
}

footer p {
    color: #d1c2ee;
    font-size: 14px;
}

/* menu togle phn */
/* 992 px valin palleeha display block phn valata */
#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
    display: none;
}

.bars {
    width: 60%;
    height: 4px;
    background-color: rgb(244, 236, 236);
    border-radius: 5px;
    transition-duration: .3s;
}

/* #checkbox:checked + .toggle .bars {
    margin-left: 13px;
  } */

#checkbox:checked+.toggle #bar2 {
    transform: translateY(14px) rotate(60deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: .3s;
    z-index: 2;
}

#checkbox:checked+.toggle #bar1 {
    transform: translateY(28px) rotate(-60deg);
    transition-duration: .3s;
    transform-origin: left;
    z-index: 1;
}

#checkbox:checked+.toggle {
    transform: rotate(-90deg);
}

/* #checkbox:checked + .toggle #bar3 {
    transform: rotate(90deg);
    transition-duration: .3s;
    transform-origin:right;
  } */





/* conatct btn */
.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: white;
    box-shadow: 0 0 0 2px #8376e7;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
    font-weight: 300px;
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: white;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #8376e7;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: white;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: white;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(213, 236, 5);
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}


/* navigation styles */

.btn1nav {
    font-size: 18px;
    color: white;
    font-family: cursive;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.btn1nav:focus,
.btn1nav:hover {
    color: #fff;
}

.btn1nav:focus:after,
.btn1nav:hover:after {
    width: 100%;
    left: 0%;
}

.btn1nav:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #8376e7;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.skill {
    width: 410px;
    height: 254px;
    border-radius: 4px;
    background: transparent;
    display: flex;
    gap: 10px;
    padding: .7em;
}

.skill p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: transparent;
    border: 5px solid #8376e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill p:hover {
    flex: 4;
}

.skill p span {
    min-width: 20em;
    padding: .10em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #fbedf2;
    letter-spacing: .1em;
}

.skill p:hover span {
    transform: rotate(0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer {
    background-color:#b0a5fdc5;
    color: #fff;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.contact-info a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    display: inline-flex;
    align-items: center;
}

.contact-info a i {
    margin-right: 5px;
}

/* Style for icons (Font Awesome in this case) */
/* You can adjust the icon size and other properties here */
.fa {
    font-size: 20px;
}


@media screen and (max-width:992px) {
    .toggle {
        display: block;

        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .3s;

    }


}

@media screen and (max-width:713px) {
    .image {
        margin-top: 5px;
    }

}

@media screen and (max-width:400px) {
    .skill {
        width: 310px;
        height: 254px;
        border-radius: 4px;
        background: transparent;
        display: flex;
        gap: 10px;
        padding: .7em;
    }


}
